h1 {
  text-align: center;
}
.btnRegistry {
  background-color: darkcyan;
  margin-top: 5px;
  width: 225px;
  float: right;
}

.btnFacebook {
  width: 110px;
  float: right;
}
.btnLogin {
  width: 110px;
  float: left;
}
