@import "~antd/dist/antd.css";

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 47%;
  margin-right: 6%;
}
.facebook-form-button {
  width: 47%;
}

.ant-divider-horizontal.ant-divider-with-text {
  margin: 0px;
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
