@using RazorClassLibrary.Views
@using RazorClassLibrary.Views.Emails.NontificationEmails
@model ScheduleEmailViewModel

@{
    ViewData["EmailTitle"] = "Welcome!";
}

<p>
    We're excited to have you get started. First, you need to confirm your account. Just press the button below.
</p>

<br />
<h1> @Model.Message</h1>
<br />

<p>
    If you have any questions, just reply to this email—we're always happy to help out.
</p>

<br />

<p>
    The Contoso Team
</p>