@using RazorClassLibrary.Views
@using RazorClassLibrary.Views.Emails.NontificationEmails
@model ScheduleEmailViewModel

@{
    ViewData["EmailTitle"] = "Attention!";
}

<p>
    You have signed up for the course. Read carefully what is written below.
</p>

<br />
<p><h2>@Model.Message</h2></p>
<br />


<p>
    If you have any questions, just reply to this email—we're always happy to help out.
</p>

<br />

<p>
    Student Accounting Services
</p>